# MySQL configuration
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=
MYSQL_DATABASE=

# API configuration
API_PORT=3003
API_URL=http://localhost:3003
CORS_ORIGINS=http://localhost:3002

# External Air Quality API
API_NINJAS_URL=https://api.api-ninjas.com/v1/airquality
API_NINJAS_KEY=